<!-- <h3 class="p-a-1">Contacts form</h3>

<div class="form m-t-1 m-b-1">
  <input class="form-control" type="text" name="name" [(ngModel)]="contact.name" />
  <input class="form-control" type="text" name="surname" [(ngModel)]="contact.surname" />
  <button class="btn btn-secondary m-t-1" (click)="addItem()">Add to contact to list</button>
</div>

<table class="table table-bordered table-striped" style="text-align:center">
  <tbody>
    <tr *ngFor="let c of contact; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ contact.name }}</td>
      <td>{{ contact.surname }}</td>
    </tr>
  </tbody>
</table> -->
